---
import ServiceItem from "./service-item.astro";
import ContentSection from "~/components/content-section.astro";
//import { services } from "~/constants/services";

//Dejamos de usar el js statico para usar la API
import { fetchServices } from "~/constants/services";

let services = [];
let isLoading = true;
let error = null;

try {
  services = await fetchServices();
} catch (err) {
  error = "Error al cargar los servicios.";
} finally {
  isLoading = false;
}

// Llamar a la API de Laravel para obtener datos dinámicos
let serviceData = null;

try {
  const response = await fetch("http://127.0.0.1:8000/api/service");
  serviceData = await response.json();
} catch (err) {
  error = "No se pudo cargar el contenido dinámico.";
}
---

<ContentSection title={serviceData?.title || "Cargando..."} id="servicios">
  <Fragment slot="lead">
    {serviceData ? (
      <>
    {serviceData.lead_text.text1} <span class="text-primary"> {serviceData.lead_text.highlight1} </span>. <br />
    <span class="text-slate-400 text-sm">{serviceData.lead_text.text2}</span>
    </>
    ) : (
      <p>Cargando...</p>
    )}
  </Fragment>
  <!-- <ul class="grid max-w-6xl grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
    {
      services.map(({ id, title, description, icon }) => (
        <li class="group flex transform flex-col items-center gap-4 border border-default bg-offset p-6 transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg">
          <ServiceItem
            id={id}
            title={title}
            description={description}
            icon={icon}
          />
        </li>
      ))
    }
  </ul> -->
  {isLoading && <p>Cargando servicios...</p>}

  {error && <p class="text-red-500">{error}</p>}

  {!isLoading && !error && (
    <ul class="grid max-w-6xl grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {services.map(({ slug, title, description, icon }) => (
        <li
          class="group flex transform flex-col items-center gap-4 border border-default bg-offset p-6 transition-transform duration-300 ease-in-out hover:scale-105 hover:shadow-lg"
        >
          <ServiceItem slug={slug} title={title} description={description} icon={icon} />
        </li>//aqui agregamos el slug que añadimos en la bd en lugar del id
      ))}
    </ul>
  )}

</ContentSection>
